<%= form_for @branch do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch.errors.count, "error") %> prohibited
        this article from being saved:</h2>
        <ul>
          <% @branch.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
    <div align="center">
      <p>
        <%= f.label :nombre  %><br>
        <%= f.text_field :nombre, placeholder:"Nombre" %>
      </p>
      <p>
        <%= f.label :calle %><br>
        <%= f.text_area :calle %>
      </p>
      <p>
        <%= f.label :numExt %><br>
        <%= f.text_area :numExt %>
      </p>
      <p>
        <%= f.label :numInt %><br>
        <%= f.text_area :numInt, autofocus: true %>
      </p>
      <p>
        <%= f.label :cp %><br>
        <%= f.text_area :cp %>
      </p>
      <p>
        <%= f.label :ciudad %><br>
        <%= f.text_area :ciudad %>
      </p>
      <p>
        <%= f.label :pais %><br>
        <%= f.text_area :pais %>
      </p>
      <p>
      <%= f.nested_fields_for :employees do |ff| %>
      <p>
        <%= f.label :Nombre %><br>
        <%= ff.text_field :nombre %>
      </p>
        <p>
          <%= f.label :RFC %><br>
          <%= ff.text_field :rfc %>
        </p>
        <p>
          <%= f.label :Puesto %><br>
          <%= ff.text_field :puesto %>
        </p>
        <%= ff.remove_nested_fields_link 'Ocultar Campos.' %>
        <% end %>
      </p>
    </div>


    <div  align="center">
      <p class="button"><%= submit_tag "Enviar" %> <%= button_tag "Reset", type: :reset %></p>
      <p><%= f.add_nested_fields_link :employees, 'Agregar empleado' %></p>
    </div>
<%end %>
