<h1 align="center"> Listado de sucursales </h1>
  <p aling="left">
    <%= link_to "Inicio", root_path %>
  </p>
<table align="center">
    <tr>
      <th> Nombre </th>
      <th> Calle </th>
      <th> Numero Exterior</th>
      <th> Numero Interior</th>
      <th> Codigo Postal</th>
      <th> Ciudad </th>
      <th> Pais </th>
      <th> usuario </th>
      <th>ID sucursal</th>
      <th colspan="2"></th>
    </tr>

    <% @branches.each do |branch| %>

      <tr>
        <td align="center"><%= branch.nombre %></td>
        <td align="center"><%= branch.calle %></td>
        <td align="center"><%= branch.numExt %></td>
        <td align="center"><%= branch.numInt %></td>
        <td align="center"><%= branch.cp %></td>
        <td align="center"><%= branch.ciudad %></td>
        <td align="center"><%= branch.pais %></td>
        <td align="center"><%= branch.user_id %></td>
        <td align="center"><%= branch.id %></td>
        <td><%= link_to 'Mostrar ', branch_path(branch) %></td>
        <td><%= link_to 'Editar', edit_branch_path(branch) %></td>
        <td><%= link_to 'Eliminar', branch_path(branch),
                    method: :delete, data: { confirm: 'Estas seguro que deseas eliminar?' } %></td>
      </tr>
    <% end %>
  </table>
  <div  align="right">
    <%= link_to "agregar sucursal", new_branch_path %>
  </div>
  <% if @errors %>
   <% @errors.each do |message| %>
    <%= message %>
   <% end %>
  <% end %>
  <h1>Importar y Exportar sucursales</h1>
  <h3> >> Exportar Listado de sucursales  </h3>
  <%= link_to 'Descargar Listado de Sucursales en formato Excel (*.xlsx)', branches_path(format: :xlsx) %>
  <h3> >> Subir listado de sucursales</h3>
   <p>
    <%= form_for :branch, :url => import_branches_path(:controller => 'Branches', :action => 'import', :multipart => true) do |f| %>
      <%= f.file_field :file %>
    <p class="button"><%= f.submit 'Subir archivo'%></p>
    <% end %>
  </p>
  <p>
    ---> Subir archivo (*.xls)  <%= link_to "Plantilla para sucursales", "https://drive.google.com/open?id=0B_eP4g871CrsU250VWRFaEx4Vjg", :target => "_blank" %>
  </p>
