<div align="center">
  <h1>Sucursal :</h1>
  <table>
    <tr>
      <th><strong>Nombre:</strong></th>
      <th><strong>Calle:</strong></th>
      <th><strong>Numero Ext.:</strong></th>
      <th><strong>Numero Int.:</strong><br></th>
      <th><strong>Codigo Postal:</strong></th>
      <th><strong>Ciudad:</strong><br></th>
      <th><strong>Pais:</strong></th>
      <th><strong>User ID:</strong></th>
    </tr>
    <tr>
       <td align="center"><%= @branch.nombre %></td>
       <td align="center"><%= @branch.calle %></td>
       <td align="center"><%= @branch.numExt %></td>
       <td align="center"><%= @branch.numInt %></td>
       <td align="center"><%= @branch.cp %></td>
       <td align="center"><%= @branch.ciudad %></td>
       <td align="center"><%= @branch.pais %></td>
       <td align="center"><%= @branch.user_id %></td>
     </tr>
   </table>

  <p>
    Esta sucursal pertenece al usuario : <%= @branch.user.nombre %>
  </p>
  <p>
    Email del usuario : <%= @branch.user.email %>
  </p>

  <h2>Empleados agregados a esta sucursal</h2>
  <%= render @branch.employees %>

  <h2> Agregar emplado a sucursal </h2>

    <%= render "employees/form" %>
    <div>
      <h3> >> Exportar Listado de sucursales  </h3>
      <%= link_to 'Exportar empleados formato excel Excel (*.xlsx)',  branch_employees_path(@branch, format: :xlsx) %>
      <h3> >> Subir listado de sucursales</h3>
      <p>
       <%= form_for :employee, :url => import_branch_employees_path(:branch_id => @branch, :controller => 'employees', :action => 'import', :multipart => true) do |f| %>
         <%= f.file_field :file %>
       <p class="button"><%= f.submit 'Subir archivo'%></p>
       <% end %>
     </p>
    </div>

  <% unless @branch.user.nil? %>
  <% end %>
  <%= link_to "Listado de sucursales", branches_path %>

  <%= link_to "agregar sucursal", new_branch_path %>
</div>
