<div align="center">
  <h1>Iniciar sesion</h1>
  <%=form_tag sessions_path , :method => :post, :id => 'login_form', :class => 'special'  do |f| %>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p class="button"><%= submit_tag "Iniciar sesion" %></p>
  <% end %>
</div>
