<table align="center">
  <tr>
     <th> Nombre Empleado : </th>
     <th> RFC: </th>
     <th> Puesto: </th>
     <th colspan="2"></th>
  </tr>
      <tr>
        <td align="center"><%= employee.nombre %></td>
        <td align="center"><%= employee.rfc %></td>
        <td align="center"><%= employee.puesto %></td>

      </tr>
  </table>
  <%= link_to 'Eliminar empleado', [employee.branch, employee],
               method: :delete,
               data: { confirm: 'Estas seguro que deseas eliminar este empleado?' } %>
