<%= form_for ([@branch, @branch.employees.build]) do |f| %>


  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %><br>
  </p>
  <p>
    <%= f.label :rfc %><br>
    <%= f.text_field :rfc %><br>
  </p>
  <p>
    <%= f.label :puesto %><br>
    <%= f.text_field :puesto %><br>
  </p>

  <p><%= select_tag 'sucursales', options_from_collection_for_select(@sucursales, :id, :nombre) %></p>

  <p>
    <%= f.submit 'Crear Empleado' %>
  </p>
  <% end %>
