<h1> Aplicacion prueba Rails docdigitales </h1>

  <% if current_user.present? %>
        <h1> Bienvenido <%= current_user.email %> </h1>
      <% else %>
        <%= link_to 'Registrate', sign_up_path %>
        <%= link_to "agregar sucursal", new_branch_path %>
  <% end %>
