  <h1 align="center"> Aplicacion prueba Docdigitales </h1>
  <h1 aling="center"> welcome index </h1>


<% if current_user.present? %>
    <h1> Bienvenido <%= current_user.nombre %> !!! </h1>
    <h3> Tu correo es: <%= current_user.email %> </h3>
    <p>  Creado el: <%= current_user.created_at %></p>
  <% else %>
    <%= link_to 'Registrate', root_url %>
<% end %>


<%= link_to 'Agregar sucursal', new_branch_path %>
<%= link_to 'Listado de Sucursales', branches_path %>
