<!DOCTYPE html>
<html>
<head>
  <title>Sistema</title>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-1.12.4.min.js', 'application' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_nav"  align="right">
    <% if current_user %>
      Sesión iniciada como <%= current_user.email %>.
      <%= link_to "Cerrar Sesion", log_out_path %>
    <% else %>
      <%= link_to "Registro", sign_up_path %> or
      <%= link_to "Iniciar Sesion", log_in_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>
  <%= insert_paloma_hook %>

<script type="text/javascript">
  $(document).ready(function() {
    Paloma.start();
    console.log("probando doc listo");
  })
</script>


</body>
</html>
